@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Vouchers .Net Core 1.0 Home</title>
    <script asp-src-include="~/js/script1.js"></script>

</head>
<body>
    @*<environment names="Development">*@

    @*</environment>*@

    <h1>@ViewBag.AppName</h1><br />
    
    <div>
        Served from MVC
    </div>
</body>
</html>