<Project>
  <PropertyGroup>
    <PublishProtocol>Kudu</PublishProtocol>
    <PublishSiteName>Mod08Demo5ap</PublishSiteName>
    <!--[App Service Url]-->
    <UserName>$Mod08Demo5ap</UserName>
    <!--[FTP/Deployment UserName]-->
    <Password>hwko75L7Afr3cEMhsaZZYSAbqwTKlwxfDYaJfZ6cGcJwj1r2S6ftt47XXPd3</Password>
    <!--[Password]-->
  </PropertyGroup>
</Project>