<Project>
  <PropertyGroup>
    <PublishProtocol>Kudu</PublishProtocol>
    <PublishSiteName>blueyondermod08lab2xandi</PublishSiteName>
    <!--[App Service Url]-->
    <UserName>$blueyondermod08lab2xandi</UserName>
    <!--[FTP/Deployment UserName]-->
    <Password>LPWwjye5Kyqi4kBZjG6jxYHSyjSrJ7aonidisAHwn8EpsHMNaCNlin2QiyBv</Password>
    <!--[Password]-->
  </PropertyGroup>
</Project>